  @import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i&display=swap');
  *, html {
    /* color: #dadada; */
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    outline: none;
  }
  .navbar-burger {
    color: #dadada;
  }
  .navbar-burger.is-active {
    color: #dadada;
  }
  .navbar .navbar-item a {
    color: #dadada;
    text-transform: uppercase;
  }
  .navbar-item i:hover {
    color: #ff0042 !important;
  }
  .navbar-item:hover {
    color: #ff0042 !important;
  }
  .navbar .navbar-item a:hover {
    color: #ff0042 !important;
  }
  .navbar-end a:hover {
    color: #ff0042 !important;
  }
  .navbar-end a.is-active {
    color: #ff0042 !important;
  }
  .hero-body {
    position: relative;
    z-index: 1;
  }
  .hero-footer {
    z-index: 2;
  }